{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" style="width: 200px; height: 200px" src="{{ user.profile.image.url }}">
        <div class="account-heading">{{ user.username }}
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Update</legend>
        {{Uform|crispy}}
        {{Pform|crispy}}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
</form>
{% endblock content %}